@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

.rowFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space2 {
    letter-spacing: 6px;
}

.space3 {
    letter-spacing: 8px;
}